.back1 {
    width: 100%;
    height: 600px;
    background-image: url(./img/BitFon.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 0vw;
}
.header_fon {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-bottom: 1vw;
}
.header_fon:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.list_logo {
    width: 140px;
    height: 80px;
    background-image: url(./img/logo_all.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0.5vw;
    margin: auto;
}
.list_logo:hover, .facebook:hover, 
.viber:hover, .twitter:hover, .logo2:hover,
.facebook2:hover, 
.viber2:hover, .twitter2:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(253, 252, 252, 0.5));
     filter: drop-shadow(0px 0px 7px rgba(255, 254, 254, 0.5));
}
nav {
    padding-top: 4vw;
}
ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}
li {
    list-style-type: none;
    margin-right: 1vw;
    color: white; 
}
a>li:hover {
    color:  rgb(14, 233, 14);
}
.active:hover {
    color: grey;
}
.media {
    justify-content: space-around;
}
.facebook {
    width: 10px;
    height: 35px;
    background-image: url(./img/facebook.png);
    background-repeat: no-repeat;
    background-size: 65%;
    margin-top: 3.5vw;
}
.viber {
    width: 31px;
    height: 36px;
    background-image: url(./img/viber.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3.5vw;
}
.twitter {
    width: 31px;
    height: 36px;
    background-image: url(./img/twit.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3.9vw;
}
.right_form {
    margin-right: 0;
    margin-top: 3vw;
}
.block_right {
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 5vw;
}
.block_right:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 2px white;
    cursor: pointer;
}
.form {
    height: 400px;
    justify-content: space-between;
    color: white;
    margin-top: 1vw;
}
@media screen and (max-width: 1100px) {
    .back1 {
        width: 100%;
        height: 620px;
        background-image: url(./img/BitFon.png);
        background-repeat: no-repeat;
        background-size:1200px;
        background-position: center;
    }
    .block_text {
        text-align: center;
    }
    .podrobnee {
        text-align: center;
    }
}
.knopka {
    width: 170px;
}
input {
    color: white;
}
.name {
    width: 250px;
    height: 40px;
    background-color: unset;
    border: unset;
    border-bottom: 1px solid white;
}
::-webkit-input-placeholder {
    text-align:center;
    color: white;
    padding-bottom: 1vw;
}
.email {
    width: 250px;
    height: 40px;
    background-color: unset;
    border: unset;
    border-bottom: 1px solid white;
}
.tel {
    width: 250px;
    height: 40px;
    background-color: unset;
    border: unset;
    border-bottom: 1px solid white;
}
@media screen and (max-width: 250px) {
    .name, .email, .tel, .knopka, .list_logo {
        width: 100px;
    }
    .knopka, .uni, .txt1{
        font-size: 0.8rem;
    }
    .block_right {
        width: 120px;
        height: 370px;
    }
}
.zagolovok {
    margin-top: 4vw;
}
.block_text {
    margin-top: 3vw; 
    font-weight: bolder;

}
@media screen and (max-width: 1200px) {
    .block_text {
        width: 850px;
    }
}
@media screen and (max-width: 500px) {
    .grafik {
        max-height: 50vw;
    }
}
@media screen and (max-width: 160px) {
    .block_text {
        font-size: 0.8rem;
    }
}
.block2 {
    margin:0;
}

.grafik {
    width: 460px;
    height: 232px;
    background-image: url(./img/grafik.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3vw;
    margin: auto;
    margin-bottom: 3vw;
}
a {
    text-decoration: none;
}
.podrobnee a {
    color:#099B1F;
}
.podrobnee {
    margin-top: 1vw;
}
.planeta_crypto {
    margin-top: 3vw;
    width: 100%;
    background-image: url(./img/planeta_crypto.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 0vw 0vw;
    margin-bottom: 20vw;
}
.planeta_fon {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
@media screen and (max-width: 1100px) {
    .planeta_crypto {
        width: 100%;
        background-image: url(./img/planeta_crypto.png);
        background-repeat: no-repeat;
        background-size:1200px;
        background-position: center;
    }
}
@media screen and (max-width: 760px) {
    .planeta_crypto {
        width: 100%;
        background-image: url(./img/planeta_crypto.png);
        background-repeat: no-repeat;
        background-size: 400%;
        background-position: center;
    }
    .logo2 {
        margin: auto;
    }
    .copy {
        margin: auto;
        margin-top: 2vw;
    }
}
@media screen and (max-width: 400px) {
    .planeta_crypto { 
        background-size: 2000%;
    }
    .txt1 {
        max-width:110px;
    }
    .crypto_grafik {
    max-width: 50vw;
    max-height: 50vw;
    }
    .chel {
    max-width: 50vw;
    max-height: 50vw; 
    }
    .bitok {
    max-width: 50vw;
    max-height: 50vw;    
    }
}
@media screen and (max-width: 300px) {
    .planeta_crypto { 
        background-size: 2000%;
    }
}
@media screen and (max-width: 250px) {
    .planeta_crypto { 
        background-size: 2000%;
    }
    .logo2 {
        max-width: 72vw;   
    }
}

.razdel {
    margin-bottom: 3vw;
}
.block_serv {
    margin:0;
}
.services {
    padding: 2vw;
    color: white;
}
h1:hover, .razdel:hover {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(253, 252, 252, 0.5));
    filter: drop-shadow(0px 0px 2px rgba(255, 254, 254, 0.5));
    cursor: pointer;
}
.serv {
    margin-top: 3vw;
    color: white;
}
.crypto_grafik {
    width: 205px;
    height: 180px;
    background-image: url(./img/crypto_grafik.png);
    background-repeat: no-repeat;
    background-size:100%;
    margin: auto;
}
.chel {
    width: 163px;
    height: 163px;
    background-image: url(./img/chel.png);
    background-repeat: no-repeat;
    background-size:100%;
    margin: auto;
}
.bitok {
    width: 159px;
    height: 159px;
    background-image: url(./img/bitok.png);
    background-repeat: no-repeat;
    background-size:100%;
    margin: auto;
}
.txt1 {
    width: 190px;
    margin: auto;
}
.logo2 {
    width: 140px;
    height: 35px;
    background-image: url(./img/logo2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    margin-bottom: 1vw;
}
.footer {
    background-color:black;
    padding-top: 1vw;
    padding-bottom: 2vw;
    padding-left: 0;
}
.active {
    color: rgb(14, 233, 14);
    
}
.marg_r {
    margin-right: 0;
}
.media2 {
    margin-left: 2vw;
}
.facebook2 {
    width: 10px;
    height: 35px;
    background-image: url(./img/facebook.png);
    background-repeat: no-repeat;
    background-size: 55%;
}
.viber2 {
    width: 31px;
    height: 36px;
    background-image: url(./img/viber.png);
    background-repeat: no-repeat;
    background-size: 90%;
}
.twitter2 {
    width: 31px;
    height: 36px;
    background-image: url(./img/twit.png);
    background-repeat: no-repeat;
    background-size: 90%;
    margin-top: 0.2vw;
}
.copy {
    margin-top: 1vw;
    font-size: 0.7rem;
    color: white;
}
.copy:hover {
    color: gray;
}
